.quickOrder__container {
    align-items: center;
    border-radius: 15px;
    box-shadow: -2px 1px 10px 0px rgba(107, 129, 137, 0.6);
    display: flex;
    flex-direction: column;
    margin: 15px auto 30px auto;
    max-width: 473px;
    padding: 15px;
}

.quickOrder__main--title {
    color: #4e4d4d;
    font-family: Eurostile;
    line-height: 20px;
    margin-bottom: 10px;
    padding-bottom: 1.5rem;
    text-align: center;
    text-transform: uppercase;
}

.quickOrder__form--main-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 20px;
}

.quickOrder__container--label {
    align-self: center;
    font-family: "Montserrat-Medium", sans-serif;
    letter-spacing: .25px;
    line-height: 14px;
}

.quickOrder__btn-submit {
    background-color: #fd611a;
    border: none;
    border-radius: 4px;
    box-shadow: 0 3px 1px -2px rgb(0 0 0 / 20%), 0 2px 2px 0 rgb(0 0 0 / 14%), 0 1px 5px 0 rgb(0 0 0 / 12%);
    color: white;
    cursor: pointer;
    display: block;
    font-family: "Montserrat-Medium", sans-serif;
    font-size: 14px;
    font-weight: 600;
    font-weight: 500;
    margin: 0 auto;
    padding: 0.5rem 1rem;
    transition: all 0.2s ease;
    white-space: nowrap;
}